<form action="/" method="POST">
  <h3> Email </h3>
  <input type="text" name="email" value=<%= params[:email] %>>
  <%= @errors[:email] %>
  <h3> Messaggio </h3>
  <textarea rows="4" cols="50" input type="text" name="message" ><%= params[:message] %></textarea>
  <input type="submit" value="Inserisci ">
  <%= @errors[:message] %>
</form>




<% @messages.to_enum.with_index.reverse_each do |m, i| %>
<hr>
<p><%= m[:email] %> </p>
<p><%= m[:message] %> </p>
<p><a href="/delete/<%= m[:id] %>">delete<a/></p>
  <p><a href="/edit/<%=  m[:id] %>">edit<a/></p>
<% end %>
