<form action="/" method="POST">
  <h3> Messaggio </h3>
  <input type="text" name="message" value=<%= params[:message] %>>
  <h3> Email </h3>
  <input type="text" name="email" value=<%= params[:email] %>>
  <input type="submit" value="Inserisci ">
</form>

<%= @error_message %>

<% @messages.reverse_each do |m| %>
<p><%= m[:email] %> </p>
<p><%= m[:message] %> </p>
<% end %>
