<form action="/" method="POST">

  <h3> Email </h3>
  <p><%= @errors[:email]%></p>
  <input type="text" name="email" value=<%= params[:email] %>>
  <h3> Messaggio </h3>
</p><%= @errors[:message]%></p>
  <textarea rows="4" cols="50" input type="text" name="message" ><%= params[:message] %></textarea>
  <input type="submit" value="Inserisci ">

</form>




<% @messages.reverse_each do |m|%>
<hr>
<p><%= m.email %> </p>
<p><%= m.message%> </p>
<p><a href="/delete/<%= m.id %>">delete<a/></p>
<p><a href="/edit/<%=  m.id %>">edit<a/></p>
<% end %>
